*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Толгой хэсэг */
#head{
    background-color: #3b5998;
    height: 20%;
    width: 100vw;
}
header ul {
    list-style: none;
    text-align: right;
}
header ul li{
    float: right;
}
header h1{
    color: #fff;
    text-align:center;
    text-size: 16px
    
}
header a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
} */
/* Цэс хэсэг */
#navbar{
    overflow: auto;
}
.navbar {
    display:block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
}
.tses{
    border: 3px #3b5998 dotted;
    width: 20%;

}
nav a{
    text-decoration: none;
    line-height: 2em;
}
nav button{
    background-color: #3b5998;
    padding: 6px;
    color: #fff;
}
.main-header {
    background-color: #3b5998; 
    color: white; 
    padding-left: 20px;
    margin-left: 21%; 
    width: 80%; 
    box-sizing: border-box; 
    margin-top:-300px;
    height: 30px;
    text-align: left; 
}

/* Ensures the main content does not fill the entire height */
.mainsize {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#picture {
    float: left;
    width: 30%;
    margin-left: 21%;
}
#picture .section-head {
    margin-top: 10px;
    background-color: #3b5998;
}

#picture .section-head h4 {
    color: #fff;              
    margin: 0;  
    padding-left: 10px;             
}
#picture .section-head .right-text {
    text-align: right;
}
.tables {
    width: 100%;
    border: 1px;
    border-color: black;
    margin-bottom: 5px;
}
.tables thead {
    background-color: #3b5998;
}
.tables thead td {
    color: #fff;
}

#form {
    float: left;
    width: auto;
    margin-left: 53%;
    margin-top: -500px;
}
#form .section-head{
    margin-top: -80px;
    background-color: #3b5998;
}
#form .section-head h3{
    color: #fff;
    padding-left: 10px;
}
#form .third{
    padding-top: 20px;
}