.item p{
    text-align: center;
    width: 10%;
}
.header h1{
    padding: 30px 30px 0 30px;
}
.btn-pink{
    margin: 10px;
}
header p{
    padding-bottom: 0;
    margin-bottom: 0;
}
.tablet {
    display: none;
}